* {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.607);
}

header {
    height: 1px;
    background-color: black;
    animation-name: bar;
    animation-direction: alternate;
    animation-duration: 3s;
}

@keyframes bar {
    0% {
        width: 0vw;
        background-color: red;
    }

    100% {
        width: 100vw;
        background-color: red;
    }
}

img {
    margin-left: 2vw;
}

.box {
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.login {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));

}

.boxi {
    height: 120vh;
    width: 50vw;
    background-color: black;
    margin: 6vh 10vh 10vh 50vh;
    padding: 45px;
}

hr {
    color: cadetblue;
}

.zemo {
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 30px;
    width: 20vw;
    margin-top: 6vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 200px;
    font-weight: bolder;
}

.imgg {
    position: relative;
    right: 50px;
}

.imggg {
    position: relative;
    right: 40px;
}

.usname {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-top: 10px;
    position: relative;
    right: 37px;
}

.usnamepass {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-top: 10px;
    width: fit-content;
    position: relative;
    left: 20vw;
}

.place {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid rgb(95, 94, 94);
    position: relative;
    left: 240px;
    color: white;
    background-color: rgba(187, 163, 163, 0.076);
}

.loginin {
    background-color: rgb(32, 179, 32);
    height: 7vh;
    width: 20vw;
    border-radius: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    margin-left: 25vh;
    margin-top: 4vh;
}

.fpass {
    color: white;
    text-decoration: underline;
    position: relative;
    left: 18vw;
    margin-top: 4vh;
    width: 20vw;
}

.zemo:hover {
    border-color: grey;
    color: grey;
}
.place:hover {
    border-color: rgb(255, 255, 255);
}